# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints

# Results
runs/
outputs/
*.pt
*.onnx
*.engine
*.mp4

# Data (не пушим датасеты)
DataSet/
prepare_data/output/
prepare_data/drone_detection_thesis/
prepare_data/combined_dataset/
prepare_data/drone_only_dataset/
prepare_data/all_datasets_v1/
prepare_data/drone_v2/

# Видео FPV (большие файлы)
video-FPV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log