# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints

# Results
runs/
outputs/
*.pt
*.onnx
*.engine

# Data
DataSet/
prepare_data/output/
prepare_data/drone_detection_thesis/
prepare_data/combined_dataset/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
